@charset "UTF-8";

.contact_item {
  display: flex;
  position: absolute;
  width: 50%;
}

.contact_txt {
  line-height: 1.8;
  font-size: 18px;
  z-index: 5;
}
.contact_img {
  background: url(../img/contact.png) no-repeat center;
  background-size: cover;
  width: 80%;
  height: 450px;
  position: relative;
  left: 32.5%;
  z-index: -1;
  margin-bottom: 120px;
  overflow: hidden;
}

.contact_img::before {
  position: absolute;
  content: "";
  width: 380px;
  height: 760px;
  background: #fff;
  z-index: 0;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  left: -9%;
  top: -280px;
}
.contact_form {
  width: 90%;
  margin: 0 auto;
}
.contact_box {
  display: flex;
  margin-bottom: 80px;
}
.contact_form_box1 {
  height: 51px;
  width: 69%;
  padding-left: 6px;
  font-size: 15px;
}

.contact_form_box2 {
  height: 45px;
  width: 67%;
  padding-left: 6px;
  font-size: 15px;
}
.contact_box._area {
  margin-bottom: 0;
}
.contact_form_ttl {
  width: 46%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
  margin-top: 10px;
}

.contact_form_ttl::after {
  content: "必須";
  position: absolute;
  right: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  width: 96px;
  line-height: 32px;
  font-size: 15px;
  color: #c72930;
  border: 1px solid #c72930;
  border-radius: 2px;
}
.contact_txtarea {
  width: 67%;
  height: 300px;
  margin-bottom: 100px;
  font-size: 15px;
  padding: 7px;
}
.contact_btn {
  width: 200px;
  height: 50px;
  margin: 0 auto 150px;
  font-size: 18px;
  display: block;
  color: #fff;
  background: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.contact_btn:hover {
  color: #000;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {
  .contact_img {
width: 70%;
bottom: 200px;
margin-bottom: 0;
}

.contact_form_box {
width: 320px;
}

.contact_txtarea {
width: 320px;
}
}
@media screen and (max-width: 480px) {
  .contact_img {
  background-image: none;
  height: 0;
}

.contact_item {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 50px;
}

.contact_box {
  display: block;
}

.contact_form_ttl::after {
  position: relative;
  left: 10px;
}

.contact_form_box {
  width: 90%;
  height: 35px;
}

.contact_txtarea {
  width: 90%;
}
}