@charset "UTF-8";

.service {
  position: relative;
  margin-bottom: 200px;
}

.service_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service_item {
  width: 48%;
  height: 480px;
  overflow: hidden;
  -webkit-box-shadow: 10px 10px 20px #ddd;
  box-shadow: 10px 10px 20px #ddd;
  position: relative;
  margin: 10% 0;
}

/* .service_item._service1 {
} */

.service_item._service2 {
  bottom: 250px;
  margin-bottom: 0;
}

.service_item._service3 {
  bottom: 65px;
  margin: 0;
}

.service_item._service4 {
  bottom: 320px;
  margin: 0;
}

.service_img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.service_img::after {
  content: "";
  position: absolute;
  width: 375px;
  height: 715px;
  background: #ffffff;
  z-index: -1;
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
  left: 50%;
  top: -25px;
}

.service_img._service {
  background: url(../img/service.png) no-repeat center;
  background-size: cover;
  z-index: -1;
}

.service_inner_txt {
  padding: 20px 5px 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1%, -50%);
}

.service_subttl {
  margin-bottom: 10px;
  padding-left: 40px;
  font-size: 18px;
  font-style: italic;
}

.service_ttl {
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
}

.service_ttl strong {
  background: linear-gradient(transparent 60%, #75a9ff);
}

.service_descript {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {}
@media screen and (max-width: 768px) {
  .service_item {
  display: block;
  width: 80%;
  margin: 0 auto 10%;
  height: 120%;
}

.service_item._service2,
.service_item._service3,
.service_item._service4 {
  bottom: 0;
  margin: 0 auto 10%;
}

.intro {
  width: 100%;
}

.intro_txt {
  margin-bottom: 50px;
}

.about_sub_ttl {
  padding-top: 20px;
}
}
@media screen and (max-width: 480px) {
  .service_item {
  width: 100%;
  margin: 0 0 10%;
  height: auto;
}

.service_inner_txt {
  left: 46%;
}
}