@charset "utf-8";
body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}
